body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  margin: 10px;
  padding: 10px;
}

main div {
  margin-top: 30px;
}

#map {
  position: absolute;
  top:52px;
  bottom: 0;
  width: 100%;
}

nav {
  border-bottom: 1px solid #B3B3B3;
  position: absolute;
  top: 0;
  width: 100%;
}

nav .active {
  font-weight: bold;
}

.crumbs ol {
  list-style-type: none;
  padding-left: 20px;
}

.crumb {
  display: inline-block;
}

.crumb .twitter-link {
  font-weight: normal;
}

.mapboxgl-popup-content {
  text-align: center;
}

.mapboxgl-popup-content > div{
  margin: auto;
}

@media (max-width: 575.98px){
  .mapboxgl-popup-content {
    min-width: 300px;
  }
}

@media (min-width: 576px){
  .mapboxgl-popup-content {
    min-width: 570px;
  }
}

#extent-map {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid #B3B3B3;
  border-right: 1px solid #B3B3B3;
  padding: 10px 0 10px 10px;
  cursor: pointer;
  background-color: white;
}

#extent-map div {
  display: inline-block;
  padding-right: 10px;
  height :100%;
  vertical-align: middle;
}

#extent-map div:hover {
  background-color: #f4f4f4
}

#extent-map div:first-of-type {
  border-right: 1px solid #B3B3B3;
}


@media (max-width: 575.98px){
  #extent-map div {
    min-width: 100px;
  }
}

@media (min-width: 576px){
  #extent-map div {
    min-width: 150px;
  }
}
